<div class="navbar">
        <a href="/" class="home navlinks">home</a>
        <a href="/admin" class="admin navlinks">admin</a>
        <a href="/shop" class="shop navlinks">shop</a>
        <a href="/shop/cart" class="shop navlinks">Cart</a>
        <a href="/shop/order/history" class="shop navlinks">Orders</a>
</div>