<div class="formContent">
    <div class="formLeft">
        <label for="name">Name</label>
        <label for="price">Price</label> 
        <label for="category">Category</label>
        <label for="description">Description</label>
        <label for="seller">Seller</label>
        <label for="image_url">Image Link</label>
    </div>
    <div class="formRight">
        <input type="text" id="name" name="name">
        <input type="number" id="price" name="price">
        <input type="text" id="category" name="category">
        <input type="text" id="description" name="description">
        <input type="text" id="seller" name="seller">
        <input type="url" id="image_url" name="image_url"> 
    </div>
</div>