<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce</title>
    {{>csslinking}}
</head>
<body>

    {{>navbar}}

    <h1 align="center" class="WelcomeMsg">Welcome to E-commerce Site</h1>

</body>
</html>