<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Products</title>
    {{>csslinking}}
    {{>productcss}}
</head>
<body>

    {{>navbar}}

    {{>shop_category_list products=products}}


    
</body>
</html>